<ion-header>
    <ion-toolbar>
      <ion-label>
        Detail
      </ion-label>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-card>
     <ion-card-header>
       <ion-card-title>B-Cak</ion-card-title>
       <ion-card-subtitle>B-Ning</ion-card-subtitle>
     </ion-card-header>
     <ion-card-content>
        Semakin sering pakai, semakin pula banyak kenalan akrab tukang becak anda.
        Tetap Perkaya Profesi Lokal
     </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>History Driver</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
    
      <ion-card-content>
        kang komar (+62 838 8383 8383) <ion-button size="small"><ion-icon name="person-add"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>