<ion-header>
  <ion-toolbar>
    <ion-title>
      Beranda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/becak.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>App kebutuhan keluarga</ion-card-subtitle>
        <ion-card-title>B-Cak</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Becak for everyone</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Lebih tau tentang B-Cak</ion-label>
      </ion-list-header>
      <ion-item href="https://www.instagram.com/bcakshow/?hl=es-la">
        <ion-icon slot="start" color="medium" name="logo-instagram"></ion-icon>
        <ion-label>Cek ig B-Cak</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/tabs/tab1/detail'">
        <ion-icon slot="start" color="medium" name="information-circle-outline"></ion-icon>
        <ion-label>Detail</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
