<ion-header>
  <ion-toolbar>
    <ion-title>
      ACCOUNT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label size="large">Isi data diri anda</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">e-mail</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-radio-group>
  </ion-list>    

      <ion-list>
        <ion-list-header>
            <ion-label>Gender</ion-label>
        </ion-list-header>
        <ion-select value="laki-laki" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="laki-laki">laki-laki</ion-select-option>
          <ion-select-option value="perempuan">perempuan</ion-select-option>
          <ion-select-option value="lainnya">lainnya</ion-select-option>  
        </ion-select>
      </ion-list>
  <ion-item>
    <ion-label position="floating">Usia</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Nomor HP</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Alamat</ion-label>
    <ion-input></ion-input>
  </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button [routerLink]="'/tabs/tab3/detail'" (click)="ToastOptions()">confirm</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    
  
</ion-content>
